@import './../../../scss/index.scss';

.empty-pokedex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 490px;

    img {
        width: 250px;
    }

    h3 {
        margin: 0;
        font-size: 24px;
        color: $font-red;
    }
}