@import './../../../scss/index.scss';

.footer {
    height: 100px;
    background-color: $bg-poke-dark;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}