//RESPONSIVE
@mixin telefono() {
    @media only screen and (min-width: #{$telefono} ) {
      @content;
    }
  }
  
  @mixin tablet() {
    @media only screen and (min-width: #{$tablet} ) {
      @content;
    }
  }
  
  @mixin desktop() {
    @media only screen and (min-width: #{$desktop} ) {
      @content;
    }
  }

  @mixin pokeLinearGradient($color1, $color2, $color3) {
    background-image: linear-gradient(
          to left,
          $color1,
          $color2,
          $color3,
          $color1,
          $color2,
          $color3,
          $color1,
          $color2,
          $color3,
          $color1,
          $color2,
          $color3
        );
  }

  @mixin gradientText($color1, $color2){
    background: linear-gradient($color1, $color2);
    background-clip: text;
    color: transparent;
  }